<!-- <p>quote works!</p> -->
<div class="container">
    <h2>{{ title }} App!</h2>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div *ngFor='let quote of quotes; let i = index'>
                <div>
                    <ul>
                        <li>{{quote.quote}}</li>
                        <button (click)='toggleDetails(i)' class="btn btn-primary">Show Author</button>
                    </ul>

                </div>

                <div *ngIf='quote.showAuthor'>
                    <app-quote-detail [quote]='quote' (isComplete)='deleteQuote($event, i)'></app-quote-detail>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <app-goal-form></app-goal-form>
        </div>
    </div>
</div>